/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like */

@keyframes scale {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(1.25);
    }
  }
  
  @keyframes appearance {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }