/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-accent: 'PressStart2P';
    --font-main: 'Inter-Variable';
    --color-bg: #fff;
    --color-text: #000;
    --color-accent: #000;
    --color-heart-contour: #000;
    --color-animation-fill: red;
    --font-title-w: 700;
    --font-main-w: 400;
    --border: 2px solid #000;
  }
